.bank-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.search-container {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}


@media only screen and (max-width: 600px) {
  th, td {
    padding: 5px;
    font-size: 12px;
  }
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%; /* Adjusted width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 95%; /* Adjusted width for even smaller screens */
  }
}